@charset "utf-8"

@import "import/normalize"
@import "import/base"

// vars --------------------------------
// bgColor = #abe8ff
// g_headerWidth = 210px
// mainMinWidth = 810px
_minWidth = 960px
_c-red = #FE0000

body
  // background #000
  font-smoothing antialiased