@charset "utf-8"
@import "import/function"
@import "import/variables"

body {
  background #fff
  color mainColor
  font-family "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif
  font-size 13px
}

ul, ol, li {
  margin 0
  padding 0
  list-style none
}

p {
  line-height 1.5
}

a {
  color mainColor
  text-decoration none
}

.float_clear {
  clearfix()
}
