@charset "utf-8"

.clearfix {
  clearfix()
}

inline-block() {
  display inline-block
  *display inline
  *zoom 1
}

// background-image(path) {
//   background-image s('url(%s)', unquote(path))
// }

content-hidden() {
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  border 0
  clip rect(0 0 0 0)
  overflow hidden
}

mainWidth() {
  width 960px
  margin 0 auto
}